.main-inner{
    background-image: url("../img/inner11.png");
    background-size: 102%;
    background-position: center;
    background-attachment: fixed;
}
.page-main__content{
    width: 97%;
    margin: auto;
}
.page-main__header {
    padding-top: 25;
    padding-bottom: 25;
    background-image: url("../img/content/e-business.jpg");
    background-size: cover;
    background-position: center;
    border-bottom: solid 10px orange;
}

.page-submain__header {
    text-align: center;
    color: #ffffff;
    font-size: 1.5em;
    padding: 25 0;
    margin-left: 25;
    margin-right: 25;
    font-weight: bold;
    border: solid 2px #ffffff;
}

.intro-section__block {
    display: flex;
    height: 400px;
  }

  .intro-section__block > * {
    width: 45%;
  }


/* 各画像を設定 */

.intro-section__block:nth-child(1) .intro-section__img-area {
    background-image: url("../img/content/text.jpg");
}

.intro-section__block:nth-child(2) .intro-section__img-area {
    background-image: url("../img/content/law.jpg");
}

.intro-section__block:nth-child(3) .intro-section__img-area {
    background-image: url("../img/content/marketing.jpg");
}
.intro-section__block:nth-child(4) .intro-section__img-area {
    background-image: url("../img/content/finance.jpg");
}

.intro-section__block:nth-child(5) .intro-section__img-area {
    background-image: url("../img/content/prog.jpg");
}

.intro-section__block:nth-child(6) .intro-section__img-area {
    background-image: url("../img/content/e-business.jpg");
}

/* 画像エリア */

.intro-section__img-area {
    margin: 30px 0;
    background: center center no-repeat;
    background-size: cover;
}

/* 文章エリア */

.intro-section__txt-area {
    box-sizing: border-box;
    padding: 40px;
    margin: auto 25px;
    border-radius: 10px;
    background-color: hsla(0, 0%, 100%, 0.7);
}

.intro-section__contact {
    padding: 100px 0;
}
.gairyaku{
    text-align: center;
}
.zu {
    width: 80%;
}

/*リンクについて*/
a.link{
    color: blue;
    text-decoration:underline;
}
a.link:hover {
    color:red;
}
