.main-inner {
    height: 100%;
    background-image: url("../img/inner11.png");
    background-size: 102%;
    background-position: center;
    background-attachment: fixed;
}

.page-main__header {
    padding-top: 25;
    padding-bottom: 25;
    background-image: url("../img/nyuusi.jpg");
    background-size: cover;
    background-position: center;
    border-bottom: solid 10px orange;
}

.page-submain__header {
    text-align: center;
    color: #ffffff;
    font-size: 1.5em;
    padding: 25 0;
    margin-left: 25;
    margin-right: 25;
    font-weight: bold;
    border: solid 2px #ffffff;
}
.main-table{
    width: 900px;
    height: 400px;
    margin: 30px auto;
    background-color: hsla(0, 0%, 100%, 0.8);
    border-radius: 10px;
}
.main-table table{
    width: 800px;
    height: 400px;
    margin: 10px auto;
}
