.page-header {
    background-color: rgb(255, 246, 235);
    text-align: center;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 200px;
    border-right: 3px solid orange;
    overflow: auto;
    white-space: nowrap;
    scrollbar-width: thin;
}

.page-header::-webkit-scrollbar {
    width: 0px;
}
.page-header__SchoolMark{
    margin: 10px;
}
.SchoolMark__logo img {
    width: 140px;
    height: auto;
}

.page-header__lang button {
    border: 0;
    line-height: 2.5;
    padding: 0 15px;
    font-size: 0.95rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    border: 2px solid orange;
    /*background-color: rgb(255, 198, 92);*/
    background-size: cover;
    background-position: center;
}
.lang-EN{
    background-image: url("../img/nationalFlag/EN.png");
}
.lang-JP{
    background-image: url("../img/nationalFlag/JA.png");
}
.lang-FR{
    background-image: url("../img/nationalFlag/FR.png");
}

.page-header__menu {
    width: 160px;
    margin: auto;
    border-radius: 10px;
}

.menu {
    /*ボタンの幅*/
    margin: 30px 0px;
    border-radius: 8px;
    font-size: 20px;
    line-height: 37px;
    text-decoration: underline;
    text-align-last: justify;
}
.menu a{
    margin: 0px 20px;
}

.menu a:hover {
    color: red;
}
