.page-main__header{
  padding-top: 25;
  padding-bottom: 25;
  background-image: url("../img/facility/office-black.png");
  background-size:cover;
  background-position: center;
  margin-left: -10;
  border-bottom: solid 10px orange;
}

.page-submain__header{
  text-align:center;
  color: #ffffff;
  font-size: 1.5em;
  padding: 25 0;
  margin-left: 25;
  margin-right: 25;
  font-weight: bold;
  border: solid 2px #ffffff;
}

.history{
  letter-spacing: 3px;
  background:rgb(255, 246, 235);;
  text-align:center;
  margin-left: -10;
  padding-top: 20;
  padding-bottom: 50;

}

.overview{
  letter-spacing: 3px;
  background:#ffffff;
  text-align:center;
  margin-left: -10;
  padding-top: 20;
  padding-bottom: 50;
}

.upbringing{
  letter-spacing: 3px;
  background: rgb(255, 246, 235);
  text-align:center;
  margin-left: -10;
  padding-top: 20;
  padding-bottom: 50;
}

.international{
  letter-spacing: 3px;
  background:#ffffff;
  text-align:center;
  margin-left: -10;
  padding-top: 20;
  padding-bottom: 50;
}

.student{
  letter-spacing: 3px;
  background: rgb(255, 246, 235);
  text-align:center;
  margin:-10;
  padding-top: 20;
  padding-bottom: 50;
  left: 50%;
}
.table-student{
  width: 50%;
  text-align: center;
  border-collapse:collapse;
  border: 1px solid;
  margin: auto;
}
.table-head{
  background: #b5fbff;
  border-collapse:collapse;
  border: 1px solid;
}
.table-head td{
  border-collapse:collapse;
  border: 1px solid;
}
.table-grade{
  background: #ffd0b5;
  border-collapse:collapse;
  border: 1px solid;
}
.table-number{
  background: #ffffff;
  border-collapse:collapse;
  border: 1px solid;
}

.club{
  letter-spacing: 3px;
  background: #ffffff;
  text-align:center;
  margin-left: -10;
  padding-top: 20;
  padding-bottom: 50;
}
.club-head{
  padding-top: 20;
}

.event{
  letter-spacing: 3px;
  background:rgb(255, 246, 235);;
  text-align:center;
  margin-left: -10;
  padding-top: 20;
  padding-bottom: 50;
}

.contents-head{
  font-size: 90%;
  padding-bottom: 40;
  padding-top: 30;
}

.effect-fade {
　opacity : 0;
　transform : translate(0, 45px);
　transition : all 300ms;
}

.effect-fade.effect-scroll {
　opacity : 1;
　transform : translate(0, 0);
}
